{% extends 'core/base.html' %}

{% block title %}Coordinators | {% endblock %}

{% block content %}
    <h1 class="title">Coordinators</h1>

    <div class="columns is-multiline">
        {% for coordinator in coordinators %}
            <div class="column is-3">
                <div class="box">
                    <h2 class="subtitle">{{ coordinator.name }}</h2>

                    <hr>

                    <a href="{% url 'coordinator' coordinator.id %}" class="button is-dark is-uppercase">View</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}